---

import '../styles/global.css';
import Footer from '../components/Footer.astro';
---



<body>
  <a href="/">Home</a>
  <a href="/blog/">Blog</a>

  <h1>My Astro Site</h1>
  <p>List of posts</p>
		<li><a href="/posts/2-rnn/">RNN notes</a></li>
		<li><a href="/posts/23-chap5-notes/">GBC Chapter 5</a></li>
		<li><a href="/posts/21-chap6-notes/">GBC Chapter 6</a></li>
		<li><a href="/posts/22-chap7_8-notes/">GBC Chapters 7, 8, 9</a></li>
		<Footer />
</body>
