---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Engels";
---

<BaseLayout>


	<h2><em>Socialism: Utopian and Scientific, 1880-1892</em></h2>

	<li><a href="/posts/71-p1/">Part 1: Utopian Socialism</a></li>
	<li><a href="/posts/72-p2/">Part 2: Dialectics</a></li>
	<li><a href="/posts/73-p3/">Part 3: Historical Materialism</a></li>

	<h2><em>Anti-Dühring, 1877-1894</em></h2>
	<h4>Introduction</h4>

	<li><a href="/posts/111-chap1/">Chapter 1: General</a></li>
	<li><a href="/posts/112-chap2/">Chapter 2: What Herr Dühring Promises</a></li>

	<h4>Part I: Philosophy</h4>

	<li><a href="/posts/113-chap3/">Chapter 3: Classification, Apriorism</a></li>
	<li><a href="/posts/114-chap4/">Chapter 4: World Schematism</a></li>
	<li><a href="/posts/115-chap5/">Chapter 5: Time and Space</a></li>
	<li><a href="/posts/116-chap6/">Chapter 6: Cosmogony, Physics, Chemistry</a></li>
	<li><a href="/posts/117-chap7/">Chapter 7: The Organic World</a></li>
	<li><a href="/posts/118-chap8/">Chapter 8: The Organic World (Conclusion)</a></li>
	<li><a href="/posts/119-chap9/">Chapter 9: Eternal Truths</a></li>
	<li><a href="/posts/120-chap10/">Chapter 10: Equality</a></li>
	<li><a href="/posts/121-chap11/">Chapter 11: Freedom and Necessity</a></li>
	<li><a href="/posts/122-chap12/">Chapter 12: Quantity and Quality</a></li>
	<li><a href="/posts/123-chap13/">Chapter 13: Negation of the Negation</a></li>
	<li><a href="/posts/124-chap14/">Chapter 14: Conclusion</a></li>

	<h4>Part II: Political Economy</h4>

	<li><a href="/posts/131-chap1/">Chapter 1: Subject Matter and Method </a></li>
	<li><a href="/posts/132-chap2/">Chapter 2: Theory of Force</a></li>
	<li><a href="/posts/133-chap3/">Chapter 3: Theory of Force (Continuation)</a></li>
	<li><a href="/posts/134-chap4/">Chapter 4: Theory of Force (Conclusion)</a></li>
	<li><a href="/posts/135-chap5/">Chapter 5: Theory of Value</a></li>
	<li><a href="/posts/136-chap6/">Chapter 6: Simple and Compound Labour</a></li>
	<li><a href="/posts/137-chap7/">Chapter 7: Capital and Surplus-Value</a></li>
	<li><a href="/posts/138-chap8/">Chapter 8: Capital and Surplus-Value (Conclusion)</a></li>
	<li><a href="/posts/139-chap9/">Chapter 9: Natural Laws of the Economy; Rent of Land</a></li>
	<li><a href="/posts/140-chap10/">Chapter 10: From <em>Kritische Geschichte</em></a></li>

	<h4>Part III: Socialism</h4>

	<li><a href="/posts/141-chap1/">Chapter 1: Historical</a></li>
	<li><a href="/posts/142-chap2/">Chapter 2: Theoretical</a></li>
	<li><a href="/posts/143-chap3/">Chapter 3: Production</a></li>
	<li><a href="/posts/144-chap4/">Chapter 4: Distribution</a></li>
	<li><a href="/posts/145-chap5/">Chapter 5: State, Family, Education</a></li>



	<h2><em>1847 'Principles of Communism' 2nd draft by Engels</em></h2>

	<li><a href="/posts/74-main/">Part 1: Main Body</a></li>
	<li><a href="/posts/75-footnotes/">Part 2: Footnotes</a></li>


</BaseLayout>
