---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "GBC";
---

<BaseLayout pageTitle ={ pageTitle }>

	<h3>Notes on <em>Deep Learning</em> (2016) by Ian Goodfellow, Yoshua Bengio, and Aaron Courville</h3>




	<li><a href="/posts/2-rnn/">RNN notes</a></li>
	<li><a href="/posts/20-chap5-notes/">GBC Chapter 5</a></li>
	<li><a href="/posts/21-chap6-notes/">GBC Chapter 6</a></li>
	<li><a href="/posts/22-chap7-notes/">GBC Chapter 7</a></li>
</BaseLayout>
