---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "History of Tech";
---

<BaseLayout pageTitle ={ pageTitle }>


	<li><a href="/posts/67-stats/"><strong>Prior Auth Stats</strong></a></li>
	<li><a href="/posts/68-temp/"><strong>Prior Authorization Main Page</strong></a></li>
	<li><a href="/posts/51-nueva/"><strong>Notes on history of technology</strong></a></li>
	<li><a href="/posts/63-pitts/"><strong>Notes on Walter Pitts</strong></a></li>
	<li><a href="/posts/65-ai-timeline/"><strong>AI Timeline</strong></a></li>

	<hr>

	<h2>Table of Contents for <em>The Eye of the Master</em></h2>
	<h3>Author: Matteo Pasquinelli</h3>

	<li><a href="/posts/52-pas-chap0/">Introduction: AI as Division of Labour</a></li>

	<h4>Part I: The Industrial Age</h4>

	<li><a href="/posts/53-pas-chap1/">Chapter 1: The Material Tools of Algorithmic Thinking</a></li>
	<li><a href="/posts/54-pas-chap2/">Chapter 2: Babbage and the Mechanisation of Mental Labour</a></li>
	<li><a href="/posts/55-pas-chap3/">Chapter 3: The Machinery Question</a></li>
	<li><a href="/posts/56-pas-chap4/">Chapter 4: The Origins of Marx's General Intellect</a></li>
	<li><a href="/posts/57-pas-chap5/">Chapter 5: The Abstraction of Labour</a></li>

	<h4>Part II: The Information Age</h4>

	<li><a href="/posts/58-pas-chap6/">Chapter 6: The Self-Organisation of the Cybernetic Mind</a></li>
	<li><a href="/posts/59-pas-chap7/">Chapter 7: The Automation of Pattern Recognition</a></li>
	<li><a href="/posts/60-pas-chap8/">Chapter 8: Hayek and the Epistemology of Connectionism</a></li>
	<li><a href="/posts/61-pas-chap9/">Chapter 9: The Invention of the Perceptron</a></li>
	<li><a href="/posts/62-pas-chap10/">Conclusion: The Automation of General Intelligence</a></li>

</BaseLayout>
