---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "History of Tech";
---

<BaseLayout pageTitle ={ pageTitle }>

<!---

	<h2><em>Resources</em></h2> 
	<li><a href="/posts/20-chap5-notes/">GBC Chapter 5</a></li>

	<li></li>
--->

	<li>Kuhn, <em>The Structure of Scientific Revolutions</em></li>
	<li>
		History of computing link by Steve Furber, one of the early ARM chip designers. Published March 2017. <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5378251/">'Microprocessors: the engines of the digital age.'</a>
	</li>
	<li>
	Quick history of 1944 neural networks proposed, early researchers moved to MIT in 1952, Minsky and Papert topped it 1968 etc in this <a href="https://hackernoon.com/an-introduction-to-liquid-neural-networks-nt5c33t7">Intro to Liquid Neural Networks</a>
	</li>
	<li><a href="/posts/51-nueva/">Markdown Notes</a></li>

	<hr>

	<h2><em>The Eye of the Master</em></h2>
	<h3>Matteo Pasquinelli</h3>
	<h4>Part I: Philosophy</h4>

	<li><a href="/posts/113-chap3/">Chapter 3: Classification, Apriorism</a></li>
	<li><a href="/posts/114-chap4/">Chapter 4: World Schematism</a></li>
	<li><a href="/posts/115-chap5/">Chapter 5: Time and Space</a></li>
	<li><a href="/posts/116-chap6/">Chapter 6: Cosmogony, Physics, Chemistry</a></li>
	<li><a href="/posts/117-chap7/">Chapter 7: The Organic World</a></li>
	<li><a href="/posts/118-chap8/">Chapter 8: The Organic World (Conclusion)</a></li>
	<li><a href="/posts/119-chap9/">Chapter 9: Eternal Truths</a></li>
	<li><a href="/posts/120-chap10/">Chapter 10: Equality</a></li>
	<li><a href="/posts/121-chap11/">Chapter 11: Freedom and Necessity</a></li>
	<li><a href="/posts/122-chap12/">Chapter 12: Quantity and Quality</a></li>
	<li><a href="/posts/123-chap13/">Chapter 13: Negation of the Negation</a></li>
	<li><a href="/posts/124-chap14/">Chapter 14: Conclusion</a></li>

	<h4>Part II: Political Economy</h4>

	<li><a href="/posts/131-chap1/">Chapter 1: Subject Matter and Method </a></li>
	<li><a href="/posts/132-chap2/">Chapter 2: Theory of Force</a></li>

</BaseLayout>
