---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "History of Tech";
---

<BaseLayout pageTitle ={ pageTitle }>

<!---

	<h2><em>Resources</em></h2> 
	<li><a href="/posts/20-chap5-notes/">GBC Chapter 5</a></li>

	<li></li>
--->

	<li>Kuhn, <em>The Structure of Scientific Revolutions</em></li>
	<li>
		History of computing link by Steve Furber, one of the early ARM chip designers. Published March 2017. <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5378251/">'Microprocessors: the engines of the digital age.'</a>
	</li>
	<li>
	Quick history of 1944 neural networks proposed, early researchers moved to MIT in 1952, Minsky and Papert topped it 1968 etc in this <a href="https://hackernoon.com/an-introduction-to-liquid-neural-networks-nt5c33t7">Intro to Liquid Neural Networks</a>
	</li>
	<li><a href="/posts/51-nueva/">Markdown Notes</a></li>

	<hr>

	<h2><em>The Eye of the Master</em></h2>
	<h3>Matteo Pasquinelli</h3>

	<li><a href="/posts/52-pas-chap0/">Introduction: AI as Division of Labour</a></li>

	<h4>Part I: The Industrial Age</h4>

	<li><a href="/posts/53-pas-chap1/">Chapter 1: The Material Tools of Algorithmic Thinking</a></li>
	<li><a href="/posts/54-pas-chap2/">Chapter 2: Babbage and the Mechanisation of Mental Labour</a></li>
	<li><a href="/posts/55-pas-chap3/">Chapter 3: The Machinery Question</a></li>
	<li><a href="/posts/56-pas-chap4/">Chapter 4: The Origins of Marx's General Intellect</a></li>
	<li><a href="/posts/57-pas-chap5/">Chapter 5: The Abstraction of Labour</a></li>

	<h4>Part II: The Information Age</h4>

	<li><a href="/posts/58-pas-chap6/">Chapter 6: The Self-Organisation of the Cybernetic Mind</a></li>
	<li><a href="/posts/59-pas-chap7/">Chapter 7: The Automation of Pattern Recognition</a></li>
	<li><a href="/posts/60-pas-chap8/">Chapter 8: Hayek and the Epistemology of Connectionism</a></li>
	<li><a href="/posts/61-pas-chap9/">Chapter 9: The Invention of the Perceptron</a></li>
	<li><a href="/posts/62-pas-chap10/">Conclusion: The Automation of General Intelligence</a></li>

</BaseLayout>
