---
import '../styles/global.css';
import Footer from '../components/Footer.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
  <a href="/">Home</a>
  <a href="/blog/">Blog</a>
		<h1>Home for a7</h1>
		<p> I like girlpower!!! And Sylvie is a rockstar!<p>
		<p> AND i have Uncle Power, too!<p>
		<p> Thank you for the great Christams gift, Sylvie!<p>
		<Footer />
	</body>
</html>

