---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Intersession";
---

<BaseLayout pageTitle ={ pageTitle }>

<!---

	<h2><em>Resources</em></h2> 
	<li><a href="/posts/20-chap5-notes/">GBC Chapter 5</a></li>

	<li></li>
--->

	<li>Kuhn, <em>The Structure of Scientific Revolutions</em></li>
	<li>
		History of computing link by Steve Furber, one of the early ARM chip designers. Published March 2017. <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5378251/">'Microprocessors: the engines of the digital age.'</a>
	</li>
	<li>
	Quick history of 1944 neural networks proposed, early researchers moved to MIT in 1952, Minsky and Papert topped it 1968 etc in this <a href="https://hackernoon.com/an-introduction-to-liquid-neural-networks-nt5c33t7">Intro to Liquid Neural Networks</a>
	</li>
	<li><a href="/posts/51-nueva/">Markdown Notes</a></li>

</BaseLayout>
