---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Notes";
---

<BaseLayout pageTitle ={ pageTitle }>
	<li><a href="/posts/2-rnn/">RNN notes</a></li>
	<li><a href="/posts/20-chap5-notes/">GBC Chapter 5</a></li>
	<li><a href="/posts/21-chap6-notes/">GBC Chapter 6</a></li>
	<li><a href="/posts/22-chap7_8-notes/">GBC Chapters 7, 8, 9</a></li>
</BaseLayout>
