---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
	<p><em>Last updated: {frontmatter.LastUpdatedDate.slice(0,10)}</em></p>
	<slot />
</BaseLayout>
