---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
	<p>Last updated: {frontmatter.LastUpdatedDate.slice(0,10)}</p>
	<slot />
</BaseLayout>
